In [1]:
import pandas as pd

mydata=pd.read_excel('data.xlsx')

In [3]:
mydata.head()

,Policy,Expiry,Location,State,Region,Investment,Construction,BusinessType,Earthquake,Flood,Rating
0,100242,2021-01-02,Urban,Dodoma,East,1617630,Frame,Retail,N,N,9.1
1,100314,2021-01-02,Urban,Kigoma,East,8678500,Fire Resist,Apartment,Y,Y,9.6
2,100359,2021-01-02,Rural,Dodoma,Midwest,2052660,Frame,Farming,N,N,7.4
3,100315,2021-01-03,Urban,Dodoma,East,17580000,Frame,Apartment,Y,Y,8.4
4,100385,2021-01-03,Urban,Iringa,East,1925000,Masonry,Hospitality,N,N,5.3

In [4]:
print(mydata.columns)

Index(['Policy', 'Expiry', 'Location', 'State', 'Region', 'Investment',
       'Construction', 'BusinessType', 'Earthquake', 'Flood', 'Rating'],
      dtype='object')